{% extends 'finalexam/home.html' %}

{% block content %}
<div class="cont1"> 
		<form class="addform" method="POST">
			{% csrf_token %}
    		<tr>
    		{{form.fname.label}}<br>	
	        {{form.fname}}<br>
	        {{form.lname.label}}<br>
	        {{form.lname}}<br>
	        {{form.contact.label}}<br>
	        {{form.contact}}<br>
	        {{form.address.label}}<br>
	        {{form.address}}<br>
			</tr>
    		<input class="btn" style="width: 20%; margin-top: 2%;" type="submit" value="Save" />
		</form>	
		<form class="back" action="{% url 'Home' %}">
		{% csrf_token %}
    		<input class="btn" type="submit" value="Back" />
		</form>
</div>
{% endblock %}