{% extends 'finalexam/base.html' %}

{% block content %}
<div class="cont1"> 
	<div class="spacing" style="text-align: center;">
	<br>
	{% for list in rem %}
	<div class="alert alert-danger">
    <strong>Are You Sure to Delete this data?</strong><br>
    <a href="{% url 'remove1' pk=list.pk %}" class="alert-link">Delete</a> or <a href="/" class="alert-link">Cancel</a>.
  	</div>
	
	<br><br>
	<div class="table-responsive">  
    	<table class="table">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Contact</th>
				<th>Address</th>
			</tr>
		<tr>
	        <td>{{list.First_name}}</td>
	        <td>{{list.Last_name}}</td>
	        <td>{{list.contact}}</td>
	        <td>{{list.address}}</td>
		</tr>
        {% endfor %}
		</table>
	</div>
		</div>
		<form class="back" action="{% url 'Home' %}">
		{% csrf_token %}
    		<input class="btn" type="submit" value="Back" />
		</form>
</div>
{% endblock %}